        <script src="components/angular/angular.min.js"></script>
        <script src="components/angular-animate/angular-animate.min.js"></script>
        <!--<script src="components/Materialize/dist/js/materialize.js"></script>-->
        <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/posts.js"></script>
        <script src="js/components/postsTable.js"></script>
        <script src="js/components/postDetail.js"></script>
    </body>
</html>