<% include header %>
<div class="container z-depth-1">
  <div class="nav-wrapper z-depth-1-half">
    <h3 class="center">Posts</h3>
  </div>
    <div class="angular-content">
      <div ui-view></div>

    </div>
</div>
<% include footer %>